@font-face {
    font-family: 'zabras';
    src: url('/assets/fonts/Zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('assets/img/background.png');
    background-position: center;
    background-size: cover;
    font-family: 'zabras', Arial, Helvetica, sans-serif !important;
}


canvas {
    width: 100%;
    background-color: black;
}

h1 {
    font-size: 84px;
    margin: 20px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 6px;
}

.game-container {
    display: flex;
    position: relative;
    width: 720px;
    height: 480px;
}

#startScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

#startScreen img {
    height: 100%;
    width: 100%;
}

.startscreen-buttons {
    height: 70px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 0px 20px 0px 20px; */
}

.button {
    /* position:absolute; */
    background-color: #FFDB04;
    height: 40px;
    width: 80px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 5px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.button:hover {
    cursor: pointer;
    background-color: #ffd904d8;

}

.end-screen-buttons {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.margin-top-lose {
    margin-top: 45%;
}

.margin-top-win {
    margin-top: 40%;
}

@media only screen and (max-width: 720px) {
    .game-container {
        width: 100%;
        height: auto;
    }
  
    h1 {
        display: none;
    }

}

@media (max-width: 420px){
  

   .loader {
    height: 80px !important;
    width: 80px !important;
   }

   .loading-text {
    font-size: 20px;
   }
}
@media screen and (orientation: portrait){
    #rotate-device{
        display: flex;
    }
}

@media screen and (orientation: landscape){
    #rotate-device{
        display: none;
    }
}
  
   
#rotate-device {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 190, 190);
    z-index: 1000;
}
#rotate-device span {
   font-size: 40px;
   margin-bottom: 20px;
}

#rotate-device img {
    height: 200px;
    width: 200px;
}



#loseScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#loseScreen img {
    width: 100%;
    height: 100%;
}


#winningScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#winningScreen img {
    height: 15%;
    width: 50%;
}

#loadingScreen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100; 
}

.loading-text {
    font-size: 30px;
    display: flex;
    justify-content: center;
    grid-row: 3/3;
}

.loader {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;

}

.d-none {
    display: none !important;
}

/*---------------- ANIMATION ----------------*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*--------------------------------------------*/