@font-face {
    font-family: 'zabras';
    src: url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('/assets/fonts/Zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('assets/img/background.png');
    background-position: center;
    /* background-size: cover; */
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}


canvas {
    background-color: black;
}

h1 {
    font-size: 84px;
    margin: 0;
    letter-spacing: 6px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.5);
}